USE [master]
GO
/****** Object:  Database [QLNHATHUOC]    Script Date: 14/05/2023 10:03:21 SA ******/
CREATE DATABASE [QLNHATHUOC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNHATHUOC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLNHATHUOC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNHATHUOC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLNHATHUOC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNHATHUOC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNHATHUOC]
GO
/****** Object:  User [qlmayin]    Script Date: 14/05/2023 10:03:21 SA ******/
CREATE USER [sa] FOR LOGIN [sa] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[MATHUOC] [nchar](10) NOT NULL,
	[HANGTHUOC] [nchar](10) NOT NULL,
	[TENTHUOC] [varchar](100) NOT NULL,
	[IDPHANLOAI] [int] NOT NULL,
	[IDDONVI] [int] NOT NULL,
	[HOATCHAT] [varchar](50) NOT NULL,
	[HAMLUONG] [varchar](500) NOT NULL,
	[GIABAN] [int] NOT NULL,
	[QUYDOI] [int] NOT NULL,
 CONSTRAINT [PK_THUOC] PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC,
	[HANGTHUOC] ASC,
	[IDDONVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANLOAI]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANLOAI](
	[IDPHANLOAI] [int] IDENTITY(1,1) NOT NULL,
	[PHANLOAI] [nchar](10) NOT NULL,
 CONSTRAINT [PK_LOAITHUOC] PRIMARY KEY CLUSTERED 
(
	[IDPHANLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQK_LOAITHUOC] UNIQUE NONCLUSTERED 
(
	[PHANLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONVITHUOC]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVITHUOC](
	[IDDONVI] [int] IDENTITY(1,1) NOT NULL,
	[DONVI] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DONVITHUOC] PRIMARY KEY CLUSTERED 
(
	[IDDONVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQK_DONVITHUOC] UNIQUE NONCLUSTERED 
(
	[IDDONVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getDATADANHMUCTHUOC]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fn_getDATADANHMUCTHUOC]()
RETURNS TABLE
AS
RETURN (SELECT MATHUOC,TENTHUOC,HANGTHUOC,PHANLOAI,DONVI,HOATCHAT,HAMLUONG,GIABAN,THUOC.IDDONVI,THUOC.IDPHANLOAI,QUYDOI FROM THUOC JOIN PHANLOAI ON PHANLOAI.IDPHANLOAI=THUOC.IDPHANLOAI JOIN DONVITHUOC ON DONVITHUOC.IDDONVI=THUOC.IDDONVI) 
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MACTY] [nchar](10) NOT NULL,
	[TENCTY] [nvarchar](100) NOT NULL,
	[DCVANPHONG] [nvarchar](100) NOT NULL,
	[SDT] [nchar](20) NOT NULL,
	[MADOANHNGHIEP] [nchar](20) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MACTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_NHACUNGCAP] UNIQUE NONCLUSTERED 
(
	[MADOANHNGHIEP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getDATANhacungcap]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_getDATANhacungcap]()
returns table
as return (select * from NHACUNGCAP)
GO
/****** Object:  Table [dbo].[CHITIETTOA]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTOA](
	[MATOA] [nchar](10) NOT NULL,
	[MATHUOC] [nchar](10) NOT NULL,
	[HANGTHUOC] [nchar](10) NOT NULL,
	[IDDONVI] [int] NOT NULL,
	[SL] [int] NOT NULL,
	[GHICHU] [varchar](100) NULL,
	[MALOTHUOC] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CHITIETTOA_1] PRIMARY KEY CLUSTERED 
(
	[MATOA] ASC,
	[MATHUOC] ASC,
	[HANGTHUOC] ASC,
	[IDDONVI] ASC,
	[MALOTHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getChitietToa]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fn_getChitietToa](@matoa nchar(10))
returns table
as return (select * from CHITIETTOA where MATOA=@matoa)
GO
/****** Object:  Table [dbo].[CHITIETPHIEU]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEU](
	[MAPHIEU] [nchar](10) NOT NULL,
	[MATHUOC] [nchar](10) NOT NULL,
	[HANGTHUOC] [nchar](10) NOT NULL,
	[IDDONVI] [int] NOT NULL,
	[SL] [int] NOT NULL,
	[NGAYHETHAN] [date] NOT NULL,
	[DONGIA] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEU_1] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC,
	[MATHUOC] ASC,
	[HANGTHUOC] ASC,
	[IDDONVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getChitietPhieu]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fn_getChitietPhieu](@matoa nchar(10))
returns table
as return (select * from CHITIETPHIEU where MAPHIEU=@matoa)
GO
/****** Object:  Table [dbo].[TOATHUOC]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOATHUOC](
	[MATOA] [nchar](10) NOT NULL,
	[NGAYKE] [date] NOT NULL,
	[NGUOIKE] [int] NOT NULL,
	[TONGCONG] [int] NULL,
 CONSTRAINT [PK_TOATHUOC] PRIMARY KEY CLUSTERED 
(
	[MATOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [varchar](50) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[NGAYVAO] [date] NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[XACNHAN] [nchar](10) NULL,
	[PASSWORD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_EMAIL] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getListToa]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fn_getListToa]() 
returns table
as return (SELECT MATOA,TENNV,NGAYKE,TONGCONG from TOATHUOC join NHANVIEN on NGUOIKE=MANV)
GO
/****** Object:  Table [dbo].[PHIEUNHAPKHO]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPKHO](
	[MAPHIEU] [nchar](10) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[NHACUNGCAP] [nchar](10) NOT NULL,
	[PHUTRACH] [int] NOT NULL,
	[TONGCONG] [int] NULL,
 CONSTRAINT [PK_PHIEUNHAPKHO] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getListPhieu]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fn_getListPhieu]() 
returns table
as return (SELECT MAPHIEU,NHACUNGCAP,TENNV,NGAYNHAP,TONGCONG from PHIEUNHAPKHO join NHANVIEN on PHUTRACH=MANV)
GO
/****** Object:  Table [dbo].[KHOTHUOC]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOTHUOC](
	[MATHUOC] [nchar](10) NOT NULL,
	[HANGTHUOC] [nchar](10) NOT NULL,
	[SLTON] [int] NOT NULL,
	[MALOTHUOC] [nchar](10) NOT NULL,
	[HANSUDUNG] [date] NOT NULL,
	[IDDONVI] [int] NOT NULL,
 CONSTRAINT [PK_KHOTHUOC_1] PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC,
	[HANGTHUOC] ASC,
	[MALOTHUOC] ASC,
	[IDDONVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getThongtinThuoc]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fn_getThongtinThuoc](@ma nchar(10),@hang nchar(10),@donvi int)
returns table
as
return SELECT * from KHOTHUOC where MATHUOC=@ma and HANGTHUOC=@hang and IDDONVI=@donvi
GO
/****** Object:  Table [dbo].[DUOCSI]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUOCSI](
	[MANV] [int] NOT NULL,
	[SOHIEU] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DUOCSI_1] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DUOCSI] UNIQUE NONCLUSTERED 
(
	[SOHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KIEMKHO]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KIEMKHO](
	[MANV] [int] NOT NULL,
 CONSTRAINT [PK_KIEMKHO] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getDATANhanvien]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[fn_getDATANhanvien]()
RETURNS TABLE 
AS
RETURN 
(
SELECT TENNV,PHAI,NGAYVAO,ISNULL(DUOCSI.MANV,0) as Duocsi,ISNULL(KIEMKHO.MANV,0) as Kiemkho from NHANVIEN left JOIN DUOCSI on DUOCSI.MANV=NHANVIEN.MANV left join  KIEMKHO on KIEMKHO.MANV=NHANVIEN.MANV
)
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[MANV] [int] NOT NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_ADMIN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[ADMIN] CHECK CONSTRAINT [FK_ADMIN_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETPHIEU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEU_KHOTHUOC] FOREIGN KEY([MATHUOC], [HANGTHUOC], [MAPHIEU], [IDDONVI])
REFERENCES [dbo].[KHOTHUOC] ([MATHUOC], [HANGTHUOC], [MALOTHUOC], [IDDONVI])
GO
ALTER TABLE [dbo].[CHITIETPHIEU] CHECK CONSTRAINT [FK_CHITIETPHIEU_KHOTHUOC]
GO
ALTER TABLE [dbo].[CHITIETPHIEU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEU_PHIEUNHAPKHO] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUNHAPKHO] ([MAPHIEU])
GO
ALTER TABLE [dbo].[CHITIETPHIEU] CHECK CONSTRAINT [FK_CHITIETPHIEU_PHIEUNHAPKHO]
GO
ALTER TABLE [dbo].[CHITIETTOA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTOA_KHOTHUOC] FOREIGN KEY([MATHUOC], [HANGTHUOC], [MALOTHUOC], [IDDONVI])
REFERENCES [dbo].[KHOTHUOC] ([MATHUOC], [HANGTHUOC], [MALOTHUOC], [IDDONVI])
GO
ALTER TABLE [dbo].[CHITIETTOA] CHECK CONSTRAINT [FK_CHITIETTOA_KHOTHUOC]
GO
ALTER TABLE [dbo].[CHITIETTOA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTOA_TOATHUOC] FOREIGN KEY([MATOA])
REFERENCES [dbo].[TOATHUOC] ([MATOA])
GO
ALTER TABLE [dbo].[CHITIETTOA] CHECK CONSTRAINT [FK_CHITIETTOA_TOATHUOC]
GO
ALTER TABLE [dbo].[DUOCSI]  WITH CHECK ADD  CONSTRAINT [FK_DUOCSI_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DUOCSI] CHECK CONSTRAINT [FK_DUOCSI_NHANVIEN]
GO
ALTER TABLE [dbo].[KHOTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_KHOTHUOC_THUOC] FOREIGN KEY([MATHUOC], [HANGTHUOC], [IDDONVI])
REFERENCES [dbo].[THUOC] ([MATHUOC], [HANGTHUOC], [IDDONVI])
GO
ALTER TABLE [dbo].[KHOTHUOC] CHECK CONSTRAINT [FK_KHOTHUOC_THUOC]
GO
ALTER TABLE [dbo].[KIEMKHO]  WITH CHECK ADD  CONSTRAINT [FK_KIEMKHO_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KIEMKHO] CHECK CONSTRAINT [FK_KIEMKHO_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPKHO_KIEMKHO] FOREIGN KEY([PHUTRACH])
REFERENCES [dbo].[KIEMKHO] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] CHECK CONSTRAINT [FK_PHIEUNHAPKHO_KIEMKHO]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPKHO_NHACUNGCAP] FOREIGN KEY([NHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([MACTY])
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] CHECK CONSTRAINT [FK_PHIEUNHAPKHO_NHACUNGCAP]
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_DONVITHUOC] FOREIGN KEY([IDDONVI])
REFERENCES [dbo].[DONVITHUOC] ([IDDONVI])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_DONVITHUOC]
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_NHACUNGCAP] FOREIGN KEY([HANGTHUOC])
REFERENCES [dbo].[NHACUNGCAP] ([MACTY])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_NHACUNGCAP]
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_PHANLOAI] FOREIGN KEY([IDPHANLOAI])
REFERENCES [dbo].[PHANLOAI] ([IDPHANLOAI])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_PHANLOAI]
GO
ALTER TABLE [dbo].[TOATHUOC]  WITH CHECK ADD  CONSTRAINT [FK_TOATHUOC_DUOCSI] FOREIGN KEY([NGUOIKE])
REFERENCES [dbo].[DUOCSI] ([MANV])
GO
ALTER TABLE [dbo].[TOATHUOC] CHECK CONSTRAINT [FK_TOATHUOC_DUOCSI]
GO
ALTER TABLE [dbo].[CHITIETPHIEU]  WITH CHECK ADD  CONSTRAINT [CK_CHITIETPHIEU] CHECK  (([SL]>(0)))
GO
ALTER TABLE [dbo].[CHITIETPHIEU] CHECK CONSTRAINT [CK_CHITIETPHIEU]
GO
ALTER TABLE [dbo].[CHITIETTOA]  WITH CHECK ADD  CONSTRAINT [CK_CHITIETTOA] CHECK  (([SL]>(0)))
GO
ALTER TABLE [dbo].[CHITIETTOA] CHECK CONSTRAINT [CK_CHITIETTOA]
GO
ALTER TABLE [dbo].[KHOTHUOC]  WITH CHECK ADD  CONSTRAINT [CK_KHOTHUOC] CHECK  (([SLTON]>=(0)))
GO
ALTER TABLE [dbo].[KHOTHUOC] CHECK CONSTRAINT [CK_KHOTHUOC]
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [CK_THUOC] CHECK  (([GIABAN]>(0) AND [QUYDOI]>(0)))
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [CK_THUOC]
GO
/****** Object:  StoredProcedure [dbo].[quydoi]    Script Date: 14/05/2023 10:03:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[quydoi] @ma nchar(10),@lo nchar(10),@hangthuoc nchar(10),@idold int ,@idnew int,@sldoi int 
as
begin 
declare @quydoicu int
declare @quydoimoi int
select @quydoicu=QUYDOI FROM THUOC WHERE MATHUOC=@ma AND HANGTHUOC=@hangthuoc AND IDDONVI=@idold
select @quydoimoi=QUYDOI FROM THUOC WHERE MATHUOC=@ma AND HANGTHUOC=@hangthuoc AND IDDONVI=@idnew
declare @slmoi int
if((@sldoi*@quydoicu%@quydoimoi)>0)
begin
RAISERROR('sl bi le',0,0)
RETURN
end
if(@sldoi>(SELECT SLTON from KHOTHUOC WHERE MATHUOC=@ma AND HANGTHUOC=@hangthuoc AND IDDONVI=@idold and MALOTHUOC=@lo))
begin
RAISERROR('sl ko du',0,0)
RETURN
END
set @slmoi=@sldoi*@quydoicu/@quydoimoi
IF(EXISTS(SELECT *from KHOTHUOC where MATHUOC=@ma and MALOTHUOC=@lo and HANGTHUOC=@hangthuoc and IDDONVI=@idnew))
begin 
	update KHOTHUOC set SLTON=SLTON-@sldoi where MATHUOC=@ma and MALOTHUOC=@lo and HANGTHUOC=@hangthuoc and IDDONVI=@idold
	update KHOTHUOC set SLTON=SLTON+@slmoi where MATHUOC=@ma and MALOTHUOC=@lo and HANGTHUOC=@hangthuoc and IDDONVI=@idnew
end
ELSE
begin 
	update KHOTHUOC set SLTON=SLTON-@sldoi where MATHUOC=@ma and MALOTHUOC=@lo and HANGTHUOC=@hangthuoc and IDDONVI=@idold
	DECLARE @hethan date
	SELECT @hethan=HANSUDUNG from KHOTHUOC where MATHUOC=@ma and MALOTHUOC=@lo and HANGTHUOC=@hangthuoc and IDDONVI=@idold
	INSERT into KHOTHUOC VALUES (@ma,@hangthuoc,@slmoi,@lo,@hethan,@idnew)
END
RETURN
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'mã doanh nghiệp' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NHACUNGCAP', @level2type=N'COLUMN',@level2name=N'MACTY'
GO
USE [master]
GO
USE [QLNHATHUOC]
insert into QLNHATHUOC.dbo.NHANVIEN VALUES ('admin',1,GETDATE(),'admin@gmail.com',null,'25f9e794323b453885f5181f1b624d0b')
insert into QLNHATHUOC.dbo.ADMIN SELECT MANV from NHANVIEN where EMAIL='admin@gmail.com'
insert into QLNHATHUOC.dbo.KIEMKHO SELECT MANV from NHANVIEN where EMAIL='admin@gmail.com'
insert into QLNHATHUOC.dbo.DUOCSI SELECT MANV,'000001' from NHANVIEN where EMAIL='admin@gmail.com'